---
---

/* Import Jekyll theme CSS ============== */
@import "{{ site.theme }}";

/* Site CSS below ======================= */

figure.featured-image {
    text-align: center;
}
figure.featured-image img {
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    /*max-width: 33%;*/
}
figure.featured-image figcaption {
    font-style: italic;
    font-size: smaller;
}
